/* This section is used to format per assignment directions */
body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;}
.maindiv {background-color: white; color: black; width: 500px; padding: 20px; border-radius: 25px;
}

/* This section is used to align everything per the example image */
label[for=principal] { margin-left:75px; margin-right:65px;}
label[for=rate] {margin-left:75px; margin-right:82px;}
label[for=years] {margin-left:75px; margin-right:33px;}
button {margin-left:75px; }
.secdiv{margin-left:75px; }
